body {
  background-image: url('./Pictures/nordeste.jpg');
}

.container {
  display:flex;
  flex-direction: column;
  align-items: center;
}

.musicBtn {
  background-color: #f44336;
  font-size: 30px;
  color: #ffffff;
  /*padding: 14px 40px;*/
  border-radius: 12px;
  border: 1px solid #555555;
  width: 30%;
}

.musicBtn:hover {
  background-color: #04AA6D;
  color: white;
}

.content {
  display:flex;
  flex-direction: column;
  align-items: center;
}

.img_content {
  display:flex;
  flex-direction: column;
  align-items: center;
}

.picture {
  width: 80%;
  max-width: 1024px;
  height: auto;
}

.paragraph {
  background-color: white;
  width: 30%; 
}
  
span {
  font-size: 30px;
}
